.secondary-btn{
	background-color: #F6F6F6;
	border: 1px solid #C6C6C6;
	border-radius: 10px;
	color: #1B2B37;
	font-size: calc(.8rem );
	padding: 13px 35px 8px;
	text-transform: uppercase;
	@include mobile{
		font-size: calc(.6rem );
		padding: 8px 25px 5px;
	}

	&:hover{
		background-color: #1B2B37;
		border-color:#1B2B37;
		color: #fff;
	}
}

.link{
	color: #1B2B37;
	font-size: calc(1rem  );
	font-weight: 400;
	text-transform: uppercase;

}

.scrolltop{
	bottom: 1em;
	font-size: .8rem;
	font-weight: 400;
	line-height: 1em;
	position: absolute;
	right: 0;
	text-transform: uppercase;
}