footer{
	background-color: #EFEFEF;

	.footer-container{
		display: flex;
		justify-content: space-between;
		margin: 0 auto 3%;
		max-width: 85%;
		padding: 4% 0 0;
		position: relative;
		@include mobile{
			flex-wrap: wrap;
			margin: 0 auto 5%;
			max-width: 100%;
			padding: 10% 0 5%;
		}
	}

	.footer-nav-container{
		@include mobile{
			margin-bottom: 10%;
			width: 100%;
		}

		h4{
			color: #1B2B37;
			display: inline-block;
			font-size: 1rem;
			font-weight: 500;
			line-height: 1em;
			margin-bottom: 1em;
			padding-right: 50px;
			position: relative;

			&::after{
				background: #1B2B37;
				content: "";
				height: 1.5px;
				position: absolute;
				right: -8px;
				top: 3px;
				width: 50px;
			}
		}

        
        
	}

	.footer-navs  {
		li {
			&.icon{
				padding-left: 40px;
				padding-top: 2px;
				position: relative;

				.footer-menu-img{
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					content: "";
					height: 20px;
					left: 0;
					position: absolute;
					top: 0;
					width: 25px;
				}

				// &.mail{
				// 	&::before{
				// 		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.521' height='19.617' viewBox='0 0 24.521 19.617'%3E%3Cpath id='Icon_material-email' data-name='Icon material-email' d='M25.069,6H5.452a2.449,2.449,0,0,0-2.44,2.452L3,23.165a2.459,2.459,0,0,0,2.452,2.452H25.069a2.459,2.459,0,0,0,2.452-2.452V8.452A2.459,2.459,0,0,0,25.069,6Zm0,4.9-9.808,6.13L5.452,10.9V8.452l9.808,6.13,9.808-6.13Z' transform='translate(-3 -6)' fill='%231b2b37'/%3E%3C/svg%3E%0A");
				// 	}
				// }

				// &.phone{
				// 	&::before{
				// 		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.617' height='19.617' viewBox='0 0 19.617 19.617'%3E%3Cpath id='Icon_awesome-phone-alt' data-name='Icon awesome-phone-alt' d='M19.057,13.862l-4.291-1.839a.92.92,0,0,0-1.073.264l-1.9,2.322A14.2,14.2,0,0,1,5,7.821l2.322-1.9A.917.917,0,0,0,7.59,4.847L5.751.556A.926.926,0,0,0,4.7.024L.713.943a.92.92,0,0,0-.713.9A17.776,17.776,0,0,0,17.778,19.617a.92.92,0,0,0,.9-.713l.92-3.985a.931.931,0,0,0-.537-1.057Z' transform='translate(0 0)' fill='%231b2b37'/%3E%3C/svg%3E%0A");
				// 	}
				// }

				// &.map{
				// 	&::before{
				// 		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.732' height='19.617' viewBox='0 0 13.732 19.617'%3E%3Cpath id='Icon_material-location-on' data-name='Icon material-location-on' d='M14.366,3A6.861,6.861,0,0,0,7.5,9.866c0,5.149,6.866,12.751,6.866,12.751s6.866-7.6,6.866-12.751A6.861,6.861,0,0,0,14.366,3Zm0,9.318a2.452,2.452,0,1,1,2.452-2.452A2.453,2.453,0,0,1,14.366,12.318Z' transform='translate(-7.5 -3)' fill='%231b2b37'/%3E%3C/svg%3E%0A");
				// 	}
				// }

				// &.fb{
				// 	&::before{
				// 		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.465' height='19.617' viewBox='0 0 11.465 19.617'%3E%3Cg id='Group_6295' data-name='Group 6295' transform='translate(-12.181 -8.03)'%3E%3Cpath id='Icon_awesome-facebook-f' data-name='Icon awesome-facebook-f' d='M12.323,11.034l.595-3.55H9.2V5.18c0-.971.519-1.918,2.184-1.918h1.69V.24a22.433,22.433,0,0,0-3-.24C7.013,0,5.012,1.7,5.012,4.779V7.484h-3.4v3.55h3.4v8.582H9.2V11.034Z' transform='translate(10.571 8.03)' fill='%231b2b37'/%3E%3C/g%3E%3C/svg%3E%0A");
				// 	}
				// }

				// &.ig{
				// 	&::before{
				// 		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.26' height='16.26' viewBox='0 0 16.26 16.26'%3E%3Cg id='Group_6293' data-name='Group 6293' transform='translate(-9.817 -9.857)'%3E%3Cg id='Icon_ionic-logo-instagram' data-name='Icon ionic-logo-instagram' transform='translate(9.817 9.857)'%3E%3Cpath id='Path_42' data-name='Path 42' d='M16.017,5.855A3.4,3.4,0,0,1,19.4,9.242v6.775A3.4,3.4,0,0,1,16.017,19.4H9.242a3.4,3.4,0,0,1-3.387-3.387V9.242A3.4,3.4,0,0,1,9.242,5.855h6.775m0-1.355H9.242A4.756,4.756,0,0,0,4.5,9.242v6.775A4.756,4.756,0,0,0,9.242,20.76h6.775a4.756,4.756,0,0,0,4.742-4.742V9.242A4.756,4.756,0,0,0,16.017,4.5Z' transform='translate(-4.5 -4.5)' fill='%231b2b37'/%3E%3Cpath id='Path_43' data-name='Path 43' d='M24.641,11.032a1.016,1.016,0,1,1,1.016-1.016A1.014,1.014,0,0,1,24.641,11.032Z' transform='translate(-12.108 -6.29)' fill='%231b2b37'/%3E%3Cpath id='Path_44' data-name='Path 44' d='M15.315,12.6a2.71,2.71,0,1,1-2.71,2.71,2.712,2.712,0,0,1,2.71-2.71m0-1.355a4.065,4.065,0,1,0,4.065,4.065,4.066,4.066,0,0,0-4.065-4.065Z' transform='translate(-7.185 -7.185)' fill='%231b2b37'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
				// 	}
				// }

				// &.in{
				// 	&::before{
				// 		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.455' height='16.455' viewBox='0 0 16.455 16.455'%3E%3Cg id='Group_6294' data-name='Group 6294' transform='translate(-9.769 -9.197)'%3E%3Cpath id='Icon_awesome-linkedin-in' data-name='Icon awesome-linkedin-in' d='M3.683,16.455H.272V5.469H3.683ZM1.976,3.971A1.985,1.985,0,1,1,3.951,1.976,1.992,1.992,0,0,1,1.976,3.971ZM16.451,16.455h-3.4V11.108c0-1.275-.026-2.909-1.774-2.909C9.5,8.2,9.228,9.583,9.228,11.016v5.44H5.82V5.469H9.092v1.5H9.14a3.585,3.585,0,0,1,3.228-1.774c3.453,0,4.087,2.274,4.087,5.227v6.035Z' transform='translate(9.769 9.197)' fill='%231b2b37'/%3E%3C/g%3E%3C/svg%3E%0A");
				// 	}
				// }
			}

			a{
				color: #1B2B37;
				font-size: 1rem;
				font-weight: 400;
				margin-bottom: .5em;
			}
		}
	}
}

.news-letter{
	border-bottom: .5px solid #8D8D8D;
	display: flex;

	input {
		background: transparent;
		border: none;
		border-radius: 0;
		flex: 1 1 0;
		padding: 8px 0;
		width: 180px;

		&::placeholder{
			color:#8D8D8D ;
			font-size: .8rem;
			font-weight: 400;
		}
	}

	button {
		background: transparent;
		border: none;
		color: #1B2B37 ;
		font-size: .8rem;
		font-weight: 400;
		padding: 0 15px;
	}
}

.footer-copy{
	background-color: #959499;
	padding: 1% 0;
	@include mobile{
		padding: 5% 0;
	}

	.copy-right {
		color: #fff;
		font-size: .8rem;
		font-weight: 500;
		@include mobile{
			margin-bottom: 2%;
			width: 100%;  
		}
	}

	.copy-link-section {
		align-items: center;
		display: flex;
		@include mobile{
			width: 100%;
		}

		li {
			margin-right: 5px;
			padding-right: 5px;
			position: relative;

			&::after {
				background: #fff;
				content: "";
				height: 10px;
				position: absolute;
				right: 0;
				top: 2px;
				width: 1px;
			}

			&:last-child{
				margin-right: 0;
				padding-right: 0;

				&::after {
					display: none;
				}
			}

			a{
				color: #fff;
				font-size: .8rem;
				font-weight: 500;
			}
		}
	}
}