header{
	background-color:#f6f6f6 ;
	transform: .5s ease all;
	width: 100%;
	z-index: 100;
	// .sndw2{
	//     display: none;
	// }
	.scroll-logo{
		display: none;
	}

	&.stickyheader{
		.scroll-logo{
			display: block;
			margin-bottom: 14px;
			margin-top: 50px;
			@include mobile{
				margin: unset;
				margin-top: 30px;
				max-height: 60px;
			}
		}

		.custom-logo{
			display: none;
		}
	}

	.main-logo-container {
		display: flex;
		justify-content: center;
		padding-top: 35px;

		@include mobile{
			padding-bottom: 20px;
			padding-top: 20px;
		}
	}

	.before-nav-bar {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-top: -40px;
		width: 100%;
		@include mobile{
			display: none;
		}
	}

	.main-logo{
		svg{
			max-width: 100px;
			width: 100%;
			@include mobile{
				max-height: 80px;
				max-width: 80px;    
			}
		}
        
	}

	.btn-group{
		@include mobile{
			flex-direction: column;
         
		}

		.secondary-btn{
			margin-right: 5px;
			@include mobile{
				margin-bottom: 5px;
				margin-right: 0;
			}
		}
	}

	.navlink{
		align-items: center;
		display: flex;
		@include mobile{
			align-items: flex-end;
			flex-direction: column-reverse;
		}

		.link{
			align-items: center;
			display: flex;
			// padding-top : 5px ;/
			position: relative;

			&:first-child{
				margin-right: 15px;
				padding-right: 15px ;
				@include mobile{
					margin-right: 0;
					padding-right: 0 ;
				}
				// border-right: 1px solid #1B2B37;
				&::after{
					background-color:#1B2B37;
					content: "";
					height: 1rem;
					position: absolute;
					right: 0;
					top: 2px;
					width: 1px;
					@include mobile{
						display: none;
					}
				}
                
			}
		}
	}

	nav{
		border-bottom: 1px solid #C6C6C6;
		border-top: 1px solid #C6C6C6;
		margin-top: 5px;
		@include mobile{
			border :none;
			margin: 0;
		}

		.navbar{
			justify-content: center;

			@include mobile{
				clip-path: circle(0.4% at 100% 0%);
				flex-direction: column;   
				height: 100vh;
               
				position: fixed;
				right: 0;
				top: 0;
               
				transition: all linear .2s;
				width: 100vw;

				&::before{
					background: #fff;
					content: "";
					height: 100vh;
					left: 0;
					opacity: .9;
					position: fixed;
					top: 0;
					width: 100vw;
					z-index: -1;
				}

				&.active{
					clip-path: circle(200% at 100% 0%);
					transition: all linear .8s;
                    
				}
			}

			li{
				margin: 0 15px ;
				padding-top: 5px;
				@include mobile{
					margin: 10px 15px;
				}

				a{   
					color: #1B2B37;
					font-size: calc(1rem + 2px);
					font-weight: 400;
					text-transform: uppercase;
					@include mobile{
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}

.hamburger-menu {
	cursor: pointer;
	display: flex;
	display: none;
	flex-direction: column;
	height: 30px;
	justify-content: space-between;
	position: absolute;
	right: 20px;
	top: 35%;
	transition: all linear .2s;
	width: 40px;
	z-index: 10;
	@include mobile{
		display: flex;
	}

	.menu-line {
		background: #1b2b37;
		height: 4px;
		transition: all linear .5s;
		width: 100%;
        
	}

	.menu-cross {
		background: #1b2b37;
		height: 4px;
		opacity: 0;
		position: absolute;
		top: 50%;
		transition: all linear .3s;
       
		width: 100%;
       
	}

	&.active{
		height: 4px;

		.menu-line {
			opacity: 0;
            
		}
     
		.menu-cross{
			opacity: 1;
			transition-delay: .2s;

			&.line-1{
                
				transform: rotate(45deg);
			}

			&.line-2{
				transform: rotate(-45deg);
			}
		}
	}
}

.stickyheader{
	.hamburger-menu {
		top: 65px;
	}
}